<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coolwather.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/label"
        android:label="逗比天气"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.coolweather.app.activity.ChooseAreaActivity">

        </activity>

        <activity android:name="com.coolweather.app.activity.weatherActivity"/>

        <activity android:name="com.coolweather.app.activity.AppStartActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <receiver android:name="com.coolweather.app.receiver.AutoUpdateReceiver"/>

        <service android:name="com.coolweather.app.service.AutoUpdateService"/>

    </application>


    <uses-permission android:name="android.permission.INTERNET"/>



</manifest>
